<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Epicenter</title>
</head>

<body>
  <div class="epiData" id="epiData" style="display: none;">
    <%= JSON.stringify(epiData) %>
  </div>
  <div class="map" id="map">
    <script src="/js/epicenter.bundle.js"></script>
  </div>
</body>

</html>
